main {
    display: flex;
    padding: 20px;
}

/* Style the content column */
.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Style the search content column */
.search-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#currentweather{
    margin-left: 30px;
}

#headerforecast{
    display: flex;
    flex-direction: column;
}

/* Style the search bar */
.search-bar {
    margin-bottom: 10px;
}
#Weather{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    align-items: center;
}
img{
    max-width: 100px;
    max-height: 100px;
}
#forecast {
    display: flex;
    flex-direction: row;
}

#forecast > div {
    width: calc(17%); 
    margin: 5px; 
    padding: 5px;
    border: 1px solid #ccc; 
    box-sizing: border-box; 
}

#cityTextarea {
    max-width: 200px; 
    max-height: 30px; 
    min-width: 200px;
    min-height: 30px;
}