#forecast {
    display: flex;
    flex-wrap: wrap; 
}


#forecast > div {
    width: calc(10%); 
    margin: 5px; 
    padding: 5px;
    border: 1px solid #ccc; 
    box-sizing: border-box; 
}

#cityTextarea {
    max-width: 200px; 
    max-height: 30px; 
    min-width: 200px;
    min-height: 30px;
}